.project{
  min-width: 280px;
  margin: 0 auto;
  padding: 2rem 0;
  border-radius: 5px;
}
.project-title{
  font-size: 1.4rem;
  text-align: center;
}
.project-description{
  display: block;
  width: 400px;
  min-width: 280px;
  margin: 20px auto;
  font-family: secondSource;
  font-style: italic;
  font-size: 1.1rem;
}
.project img{
  display: block;
  position: relative;
  width: 350px;
  object-position: center;
  object-fit: cover;
  margin: 20px auto;
  border: 1px solid var(--main-light);
  border-radius: 5px;
}
.project-buttons-container{
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
}
.project-button{
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0 30px;
}
.project-button span{
  margin-right: 10px;
}
.project-button:hover, .project-button:hover span{
  color: var(--third-light);
}

/* Responsive */
@media screen and (max-width: 1024px){
  .project{
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  .project-title{
    font-size: 1.2rem;
  }
  .project-description{
    margin: 10px auto;
    font-size: 0.9rem;
    text-align: center;
  }
  .project img{
    width: 310px;
  }
  .project-button{
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px){
  .project{
    padding: 1rem 0;
  }
  .project-description{
    padding: 0 8px;
    width: 100%;
  }
  .project img{
    width: 270px;
  }
  .project-button{
    font-size: 0.9rem;
    margin: 0 20px;
  }
}