:root{
  /* Dark */
  --main-dark: rgb(0, 0, 0);
  --second-dark: rgb(180, 27, 99);
  --third-dark: rgb(65, 65, 65);

  /* Light */
  --main-light: rgb(255, 255, 255);
  --second-light: rgba(0, 0, 0, 0.644);
  --third-light: rgb(105, 105, 105);

  /* Others */
  --main-error: rgb(255, 0, 0);
  --successful: rgb(0, 124, 0);
}