:root{
  /* Dark */
  --main-dark: rgb(0, 0, 0);
  --second-dark: rgb(207, 32, 32);
  --third-dark: rgb(65, 65, 65);

  /* Light */
  --main-light: rgb(255, 255, 255);
  --second-light: rgb(212, 0, 0);
  --third-light: rgb(105, 105, 105);

  /* Others */
  --main-error: rgb(255, 0, 0);
  --successful: rgb(0, 124, 0);
}