/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: firstSource, 'Arial';
  color: var(--main-light);
}
body{
  background: var(--main-dark);
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page{
  min-height: calc(100vh - 60px - 60px);
}