.work{
  min-width: 300px;
  flex-wrap: wrap;
  padding: 0 6vw 6vw;
  height: max-content;
}
.work-information{
  width: 100%;
  text-align: center;
  font-style: italic;
  margin-top: auto;
}
.work-information h1{
  font-size: 1.6rem;
  font-weight: 100;
  margin: 20px 0;
}
.work-information p{
  display: block;
  margin: 20px auto;
  font-size: 1.2rem;
}

/* Responsive */
@media screen and (max-width: 1024px){
  .work-information p{
    max-width: 600px;
  }
}
@media screen and (max-width: 768px){
  .work-information h1{
    font-size: 1.4rem;
  }
  .work-information p{
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px){
  .work-information p{
    font-size: 0.9rem;
  }
}