.basic-modal{
  top: 60px;
  width: 100%;
  position: absolute;
  background: var(--second-light);
}
.close-basic-modal{
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}
.close-basic-modal:hover{
  color: var(--third-light);
}