#root .image-slider-container{
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 60px);
}
.image-slide{
  object-fit: cover;
  object-position: center;
  height: 65vh;
  border-radius: 5px;
  box-shadow: 0 0 2px var(--main-light);
  position: absolute;
  opacity: 0;
  z-index: -500;
}
.image-slide-active{
  position: relative;
  opacity: 1;
  animation: 0.5s changeSlide ease-in;
}
.image-slider-controller{
  min-width: max-content;
  margin-bottom: 1.2rem;
  padding: 0.4rem;
  box-shadow: 0 0 2px var(--main-light);
  background: var(--main-dark);
}
.image-slider-number{
  font-weight: bold;
}
.image-slider-controller span{
  margin: 0 15px;
  font-family: secondSource;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.image-slider-controller span:hover,
.image-slider-controller-select{
  background: var(--main-light);
  color: var(--main-dark);
  border-radius: 50%;
}

/* Animations */
@keyframes changeSlide{
  0%{
    left: 15px;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    left: 0;
    opacity: 1;
  }
}

/* Responsive */
@media screen and (max-width: 820px){
  .image-slide{
    margin-top: 1rem;
    height: max-content;
    width: 90%;
  }
}
@media screen and (max-width: 520px){
  .image-slider-controller{
    margin-top: 4rem;
  }
  .image-slide{
    margin-top: 2rem;
  }
  .image-slider-controller span{
    font-size: 0.9rem;
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }
}